/* Estilos para las cartas de notas */
.note-card {
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px;
  overflow: hidden;
  position: relative;
  transition: transform 0.3s ease;
}

.note-card:hover {
  transform: translateY(-5px);
  /* Efecto de levantamiento al pasar el ratón */
}

/* Estilos para el título de la nota */
ion-card-title {
  color: #333;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}